// Colors
$dark-green: #59685b;
$green: green;
$light-green: #8fa793;
$lighter-green: #dde4de;

$text-color: $dark-green;

// Typography
$sans-font: 'Oxygen', sans-serif;
$cursive-font: 'Condiment', cursive;


//