<section id="results">
  <% if @recipes.present? %>
  <ul class="recipes">
    <% @recipes.each do |recipe| %>
      <ul class="recipe">
        <li class="recipe-thumbnail"><%= square_image recipe.image_name %></li>
        <li class="recipe-title"><%= link_to title(recipe.name), recipe %></a></li>
        <li class="recipe-ingredients"><b>Ingredients</b>: <i><%= ingredient_list recipe.ingredients %></i></li>
      </ul>
    <% end %>
  </ul>
  <% else %>
    <% if params[:q].present? %>
    <p class="no_results">Sorry, no results found.</p>
    <% end %>
  <% end %>
</section>

<%#= render 'autocomplete_js' %>