// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome";

* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Oxygen', sans-serif;
  color: #59685b;
}
  
html {
  min-height: 100%;
  background-color: #dde4de;
  box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
}
  
#logo {
  font-size: 75px;
  margin: 150px auto 50px;
  text-align: center;
  color: #8fa793;
  opacity: .9;

  &:hover {
    opacity: 1;
  }

  a {
    font-family: 'Condiment', cursive;
    text-decoration: none;
    color: #8fa793;
  }
}

#search {
  width: 360px;
  margin: auto;
}

#search-bar{
  /*background-color: #dde4de;*/
  opacity: .9;
  padding: 7px 10px;
  font-size: 1.1em;
  line-height: 1.45;
  width: 300px;
  font-weight: 600;
  border: 1px solid #8fa793;
  border-radius: 3px 0 0 3px;
  float: left;
  margin: 0;
}

input:focus {
  outline: none;
}

#search-btn{
  background-color: #8fa793;
  border-radius: 0 3px 3px 0;
  float: left;
  font-size: 1.1em;
  padding: 10px;
  border: none;
  margin: 0;
}

#search-btn:hover{
  cursor: pointer;
}

.ui-widget-content {
  opacity: .4;
}

.ui-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

#search-btn:focus {
  outline:none;
}


.small {
  font-size: 0.85em;

  #logo {
    margin: 10px auto;
  }

  #search-bar {
    padding: 8px 10px;
  }

}

.recipes {
  padding: 0px;
  margin: 40px 0px 0px;
  overflow: auto;
}

ul.recipe {
  font-size: 0.85em;
  list-style-type: none;
  width: 250px;
  height: 370px;
  padding: 0px;
  margin: 8px 15px;
  float: left;
  background-color: rgba(white, 0.5);

  .recipe-title {
    font-size: 1.2em;
    margin-bottom: 5px;
    text-align: center;
  }

  .recipe-ingredients {
    text-align: center;
    padding: 0 5px;
  }
}

.no_results {
  text-align: center;
  margin: 100px;
  font-size: 1.3em;
  font-weight: bold;
}