#search {
  width: 360px;
  margin: auto;
  color: $text-color;
}

#search-bar {
  font-family: $sans-font;
  color: $text-color;
}

#search-bar{
  opacity: .9;
  padding: 7px 10px;
  font-size: 1.1em;
  line-height: 1.45;
  width: 300px;
  font-weight: 600;
  border: 1px solid #8fa793;
  border-radius: 3px 0 0 3px;
  float: left;
  margin: 0;
}

input:focus {
  outline: none;
}

#search-btn{
  background-color: #8fa793;
  border-radius: 0 3px 3px 0;
  float: left;
  font-size: 1.1em;
  padding: 10px;
  border: none;
  margin: 0;
}

#search-btn:hover{
  cursor: pointer;
}

.ui-widget-content {
  opacity: .4;
}

.ui-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

#search-btn:focus {
  outline:none;
}


.small {
  font-size: 0.85em;

  #logo {
    margin: 10px auto;
  }

  #search-bar {
    padding: 8px 10px;
  }

}

.recipes {
  padding: 0px;
  margin: 40px 0px 0px;
  overflow: auto;

  a {
    color: $text-color;
  }
}

ul.recipe {
  font-size: 0.85em;
  list-style-type: none;
  width: 250px;
  height: 370px;
  padding: 0px;
  margin: 8px 15px;
  float: left;
  background-color: rgba(255, 255, 255, 1.0);
  box-shadow: 0px 0px 7px;

  .recipe-title {
    font-size: 1.25em;
    text-align: center;
    margin: 2px 8px 8px;
    padding-bottom: 7px;
    border-bottom: 1px dashed #8fa793;
  }

  .recipe-ingredients {
    text-align: center;
    padding: 0 5px;
  }
}

.no_results {
  text-align: center;
  margin: 100px;
  font-size: 1.3em;
  font-weight: bold;
}